{% extends 'base.html' %}
{% load static %}
{% block title %} Your OnlineText - {{ request.user }} - Student Dashboard {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock head %}



{% block body %}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'info' %}">
                            <img src="https://img.icons8.com/pastel-glyph/24/000000/user-male.png" />
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ChangePassword' %}">
                            <img src="https://img.icons8.com/ios/24/000000/password-window.png" />
                            Change Password
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'UserCourse' %}">
                            <img src="https://img.icons8.com/wired/24/000000/singing-teacher.png" />
                            Your Courses
                        </a>
                    </li>

                    <li class="nav-item">
                        <!--加上 active 后变为高亮-->
                        <a class="nav-link active" href="{% url 'showonlinetext' %}">
                            <img src="https://img.icons8.com/wired/24/000000/singing-teacher.png" />
                            Your OnlineText
                        </a>
                    </li>
                </ul>
            </div>
        </nav>







        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Your OnlineText</h1>
            </div>
            <div class="row">




                <!--这里开始写-->
                {% for text in alltexts reversed %}
                    <div class="card">
                        <strong class="d-inline-block text-primary px-2">Upload at : 引用网站的标题（还没有写进去）</strong>
                            <div class="card-body">
                              <h5 class="card-title">OnlineText : {{ text.online_text }}</h5>
                              <div class="mb-1 text-muted">时间（也没有写进去）</div>
                              <p class="card-text previews">{{ text.online_text_expand_contest| truncatechars:200 }}</p>
                              <a href="{{text.online_text_url}}" class="btn btn-primary">Go to webpage...</a>
                            </div>
                          </div><br>

                {% endfor %}
                    </div>



            </div>
        </main>
    </div>
</div>
{% endblock body %}