{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% translate "Your OnlineText - " %}{{ request.user }} {% translate "- Student Dashboard" %} {% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhujiansamuel/static-webread@for-webread/dashboard.css">
{% endblock head %}



{% block body %}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'info' %}">
                            <img src="https://img.icons8.com/pastel-glyph/24/000000/user-male.png" />
                            {% translate "Profile" %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ChangePassword' %}">
                            <img src="https://img.icons8.com/ios/24/000000/password-window.png" />
                            {% translate "Change Password" %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'UserCourse' %}">
                            <img src="https://img.icons8.com/wired/24/000000/singing-teacher.png" />
                            {% translate "Your Courses" %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <!--加上 active 后变为高亮-->
                        <a class="nav-link active" href="{% url 'showonlinetext' %}">
                            <img src="https://img.icons8.com/wired/24/000000/singing-teacher.png" />
                            {% translate "Your TestResults" %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% translate "Your OnlineText" %}</h1>

            </div>
            <div class="panel-body">
            <h1 class="h5">{% translate "Questions that were answered incorrectly in the test will be displayed here." %}</h1>
                <!--这里开始写-->
                {% for quiz in alltexts reversed %}
                    <div class="card">
                        <strong class="d-inline-block text-primary px-2">{% translate "Upload at" %} : {{ quiz.textcontest.online_text_title }}</strong>
                            <div class="card-body">
                              <h5 class="card-title">{% translate "Question" %} : {{ quiz.text_question }}</h5>
                              <div class="mb-1 text-muted">{% translate "Date" %}:{{ quiz.text_question_date }}</div>
                              <p class="card-text previews">{% translate "Answer" %} : {{ quiz.text_question_answer }}</p>
                              <a href="{{quiz.textcontest.online_text_url}}" class="btn btn-primary">{% translate "Go to webpage..." %}</a>
                            </div>
                          </div><br>

                {% endfor %}

                </div>
            </main>
        </div>
    </div>
</div>
{% endblock body %}