{% extends 'base.html' %}
{% load i18n %}
{% block title %}Course Blogs by Startup{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
{% load humanize %}


{% if user.is_authenticated %}
<div class="container my-4">
    <h2>Question from Text</h2><br>

    <form action="{% url 'answercheck' %}" method="POST">{% csrf_token %}

        {% for quiz in question_quiz reversed %}
            <div class="card">
                <div class="card-body">
                    <input type="hidden" name="questionid" id="questionid" value="{{ quiz.id }}">
                    <h4 class="card-title">{% translate "Quesion" %} </h4>
                    <h4 class="card-title">{{ quiz.text_question }}</h4>

                    <input name="answers" class="form-control form-control-lg" type="text" placeholder="{% translate "Please enter the answer here" %}" />
                </div>
              </div><br>
        {% endfor %}

        <div class="container my-4">
            <button type="submit" class="btn btn-primary" id="answerchecks">{% translate "Submit" %}</button>
        </div>

</form>


{% else %}
{% endif %}
</div>



<script stype=text/javascript>


</script>

{% endblock body %}