{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "OnlineText" %}{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
{% load humanize %}


{% if user.is_authenticated %}
<div class="card">
<div class="container my-4">
    <div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
					<h2>{% translate "Add paragraphs manually" %}</h2>
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
    <form action="{% url 'save_text_function' %}" method="POST">
        {% csrf_token %}
        <div class="container my-4">
            <input name="notetitle" class="form-control form-control-lg" type="text" placeholder="{% translate "Title..." %}" /><br>
            <input name="texturls" class="form-control form-control-lg" type="text" placeholder="{% translate "Url..." %}" />
        </div>

        <div class="container my-4">
          <label for="notolanguage">{% translate "Language : " %}</label>
          <select class="form-control" id="notelanguage" name="notelanguage">
            <option value="ja">{% translate "Japanese" %}</option>
            <option value="en">{% translate "English" %}</option>
          </select>
        </div>

        <div class="container my-4">
            <textarea name="content" class="form-control" id="story" name="story" rows="5">{% translate "Please enter the text to be recorded." %}</textarea>
        </div>
        <div class="container my-4">
            <button type="submit" class="btn btn-primary" id="savetext">{% translate "Save" %}</button>
        </div>
    </form>
			</div>
		</div>
	</div>
    </div><br>
    </div><br>
    </div>


    <div class="container my-4">
        <h2>{% translate "Noted text on-line" %}</h2><br>
            {% for text in alltexts reversed %}
                <div class="card">
                    <strong class="d-inline-block text-primary px-2">{% translate "Upload at" %} :  {{ text.online_text_title }}</strong>
                        <div class="card-body">
                          <h5 class="card-title">{% translate "OnlineText" %} : {{ text.online_text| truncatechars:10 }}</h5>
                          <div class="mb-1 text-muted">{% translate "Date" %} : {{ text.online_text_date }}</div>
                          <p class="card-text previews">{{ text.online_text_expand_contest| truncatechars:200 }}</p>
                          <a href="{{text.online_text_url}}" class="btn btn-primary">{% translate "Go to webpage..." %}</a>
                            <a href="/onlinelearning/text/{{ text.slug }}" class="btn btn-primary">Read More...</a>
                        </div>
                      </div><br>
            {% endfor %}


{% else %}
{% endif %}

</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

<script>
  let previews = document.getElementsByClassName('previews');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
  })
</script>

{% endblock body %}