{% extends 'base.html' %}

{% block title %}Course Blogs by Startup{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
{% load humanize %}


{% if user.is_authenticated %}
<div class="container my-4">
    <h2>Noted text on-line</h2><br>
                {% for text in alltexts reversed %}
                    <div class="card">
                        <strong class="d-inline-block text-primary px-2">Upload at : 引用网站的标题（还没有写进去）</strong>
                            <div class="card-body">
                              <h5 class="card-title">OnlineText : {{ text.online_text }}</h5>
                              <div class="mb-1 text-muted">时间（也没有写进去）</div>
                              <p class="card-text previews">{{ text.online_text_expand_contest| truncatechars:200 }}</p>
                              <a href="{{text.online_text_url}}" class="btn btn-primary">Go to webpage...</a>
                            </div>
                          </div><br>
      {% endfor %}
    {% else %}








 {% endif %}
</div>



<script>
  let previews = document.getElementsByClassName('previews');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
  })
</script>

{% endblock body %}