{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Back to top" %}Login from website{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}

    <div class="container-fluid">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% translate "Test setup" %}</h1>
            </div>
            <div class="row">
                <div class="col-md-4">


                    <form action="{% url 'testgenerate' %}" method="POST">
                        {% csrf_token %}

                        <div class="container my-4">
                          <label for="notolanguage">{% translate "Number of questions : " %}</label>
                          <select class="form-control" id="questionNo" name="questionNo">
                            <option value=5>{% translate "5 QUESTIONS" %}</option>
                            <option value=10>{% translate "10 QUESTIONS" %}</option>
                            <option value=15>{% translate "15 QUESTIONS" %}</option>
                            <option value=20>{% translate "20 QUESTIONS" %}</option>
                          </select>
                        </div>

                        <button type="submit" class="btn btn-primary" id="loginsubmit_home">{% translate "Start Testing" %}</button>
                    </form>


                </div><br>
            </div><br>
        </main>
    </div><br>
</div><br>

<script src="https://cdn.jsdelivr.net/gh/zhujiansamuel/static-webread@for-webread/pass_validation.js"></script>
{% endblock body %}