{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Notification by Lying DOWN Learning" %}{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
{% load humanize %}
<div class="container my-4">
    <h2>{% translate "Notification by Lying DOWN Learning" %}</h2><br>
    {% for post in allposts %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <div class="mb-1 text-muted">{{ post.timeStamp | naturaltime }}</div>
          <p class="card-text previews">{{ post.content| truncatechars:200 }}</p>
          <a href="/blog/{{ post.slug }}" class="btn btn-primary">{% translate "Read More..." %}</a>
        </div>
      </div><br>
      {% endfor %}
</div>
<script>
  let previews = document.getElementsByClassName('previews');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
  })
</script>

{% endblock body %}