{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block title %}Login from website{% endblock title %}


{% block head %}
{% endblock head %}

{% block body %}


    <div class="container-fluid">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Log-in</h1>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">

                    <form action="{% url 'loginfromchromevalidation' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">{% trans "Username" %} <b style="color: red;">*</b></label>
                            <input type="" class="form-control form-control-sm currentpass" id="login_username_home" name="login_username_home" required>
                        </div>
                        <div class="form-group">
                            <label for="Password">{% trans "Password" %} <b style="color: red;">*</b></label>
                            <input type="password" class="form-control form-control-sm password" id="login_password_home" name="login_password_home" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="loginsubmit_home">Login</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
    <div><p></p></div>
<script src="{% static 'js/pass_validation.js' %}"></script>
{% endblock body %}