{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Login from website" %}{% endblock title %}




{% block head %}
{% endblock head %}





{% block body %}
<center>
    <h1></h1>
    <br>
    <br>
    <br>
    <h1>{% translate "Welcome" %}<span id="nameformessage">{{ request.user }}</span></h1>
    <h1></h1>
    <br>
    <br>
    <br>
    <br>
</center>

<script type="text/javascript">
    var datafromdjango = {{ data|safe }};
    var UserAuthenticationKey = datafromdjango.AuthenticationKey;
    var Username = datafromdjango.username;
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zhujiansamuel/static-webread@for-webread/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zhujiansamuel/static-webread@for-webread/page.js"></script>
{% endblock body %}
